@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap'); /* JALDI 700 títulos y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* JALDI 400 párrafos */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* QUICKSAND 400 botones */

/*------------------- inician estilos de jumbotrom ---------------*/
/* main {
    height: 80vh;
} */

main .imagen1 {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url(../assets/multimedia/bar.jpg);
  filter: brightness(0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen1 h1 {
  color: white;
  text-align: center;
}

.imagen1 p {
  color: white;
}

.informacion1 {
  background-color: #732796b1;
  width: 50%;
  border-radius: 30px;
  padding: 20px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------------- Inician estilos nuestra mision -------------*/
.contenedor {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}


.item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
}

.item p {
  text-align: center;
}
.item h1{
  text-align: center;
  font-weight: bold;
  color:  #732796 ;
  font-size: 35px;
}



.item1 {
  background-image: url(../assets/multimedia/fiesta1.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.item4 {
  background-image: url(../assets/multimedia/fiesta2.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.item5 {
  background-image: url(../assets/multimedia/fiesta3.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}


@media screen and (max-width: 550px) {
  .contenedor {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 350px;
  }
}

@media only screen and (max-width: 850px) and (min-width: 550px) {
  .informacion1 > img {
    width: 280px;
    height: 130px;
  }



  .flip-card {
    width: 150px;
    height: 180px;
    font-size: 14px;
  }

  .cards {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: repeat(5, 2fr);
  }
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 350px;
  }

  .logo {
    max-width: 100px;
  }

  .especial2 {
    padding: 10px 25px;
  }
}

/*--------- inician estilos de seccion de equipo la pagina -------- */

.logo-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #262626;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

.logo-equipo img {
  max-width: 100%;
  /* La imagen no excederá el ancho del contenedor */
  height: auto;
  /* Mantiene la proporción de aspecto de la imagen */
}

/* terminan estilos de seccion de  equipo la pagina */
.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Contenedor principal para card general */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  height: 350px;
  word-wrap: break-word;
}

@media screen and (max-width: 550px) {
  .contenedor {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-top: 70px;
  }

  .item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 350px;
  }
  .cards {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 350px;
  }
  #especial {
    display: none;
  }
  .informacion1 {
    width: 300px;
  }
  .imagen1 {
    height: 400px !important;
  }
  main {
    height: 60vh;
  }
}
/*----------------- Inician estilos de CARDS  ------------------*/

/* El contenedor de tarjetas invertidas: establece el ancho y el alto como quieras. Hemos agregado la propiedad de borde para demostrar que el giro en sí sale del cuadro al pasar el mouse (elimine la perspectiva si no desea el efecto 3D). */
.flip-card {
  background-color: transparent;
  width: 100%;
  min-height: 400px;
  border: 1px solid #bfbfbf;
  perspective: 1000px;

  /* Elimina esto si no quieres el efecto 3D.*/
}

/* Este contenedor es necesario para colocar la parte delantera y trasera */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Haga un giro horizontal cuando mueva el mouse sobre el contenedor del cuadro giratorio */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Coloque la parte delantera y trasera. */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Dale estilo al anverso (reserva si falta la imagen) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dale estilo a la parte trasera */
.flip-card-back {
  background-color: #bfbfbf;
  color: #262626;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
}

.flip-card-back  /*h3*/ p {
  /* max-width: 100% */
  font-size: 1em;
}
