@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");

main {
    height: auto;
}
.container-fluid{
    border-radius: 15px;
    box-shadow: 0px 0px 20px 3px rgba(115,39,150,1);
}

main{
    padding: 60px 40px;
}

h1{
    text-align: center;
}

h3, p {
    text-align: justify;
    
}



