
/*@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap'); /* JALDI 700 títulos y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* JALDI 400 párrafos */

main {
    height: auto;
    padding: 70px 70px 10px 70px;
    font-family: 'Jaldi', sans-serif;

}
.container-fluid{
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px rgba(115,39,150,1);
}


h1{
    text-align: center;
    font-weight: bold;

}

h3 {
    text-align: justify;
    font-weight:lighter;
    font-size:x-large;
    
}
p{
    text-align: justify !important;
    font-weight:normal !important;
    font-size:large;
}


.devortexCondiciones{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
}



