@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap'); /* JALDI 700 títulos y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* JALDI 400 párrafos */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* QUICKSAND 400 botones */
/*--------------- Inician estilos de contactanos --------------*/
main {
    height: 100vh;
}
.contactanos{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.imagen {
    background-image: url(../assets/multimedia/bar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactanos-formulario{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    width: 60%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
  /*   box-shadow: 0px 0px 25px 7px rgba(115,39,150,1); */
}

.formulario h1{
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}
/*  Terminan estilos de contacto*/

@media screen and (max-width: 850px) {
    .contactanos-formulario{
    width: 90%;
}
}