@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap'); /* JALDI 700 títulos y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* JALDI 400 párrafos */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* QUICKSAND 400 botones */

.event-main{
    width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  width: 100vw;
  height: auto;
}

.blockMorado {
  height: 90px;
  background-color: #732796;
}

.text-white {
  text-align: center;
  font-size: 26px;
} 

.titulo {
  text-align: center;
  margin: 2px;
  font-size: 22px;
  color: #732796;
  text-shadow: 4px 4px 8px #b99ee8;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 40px 0px;
  /* margin: 11px 15px 15px 15px; */
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #732796 !important;
  border: solid 1px #732796 !important;
}

#guardarTarjeta{
  background-color: #732796;
  color: #f9f9f9;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px 10px;
  border: none;
  
    }
    

/* img {
  width: 100%;
  height: 100%;
} */

/*aplicar efecto a imagen*/
.img-fluid {
  transition: transform 0.5s ease;
}

.img-fluid:hover {
  transform: scale(1.1);
}

.texto--lugares {
  margin: 20px;
}

.espera{
  display: none;
}

.exploraA {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  color: white !important;
  font-size: large;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .normal {
      display: none;
  }
  .espera{
      display: block;
  }
}

.eventosEsc{
  border-radius: 1rem;
}

.colorLetras {
  color: #732796;
  font-weight: bolder;
  text-align: center;
} 

p{
font-size: 18px;
}


