main {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    width: 100vw;
    height: auto;
}

.titulo {
    text-align: center;
    margin: 2px;
    font-size: 22px;
    color: #732796;
    text-shadow: 4px 4px 8px #b99ee8;
}

.container {
    display: flex;
    justify-content: center;
    gap: 90px;
    /* margin: 40px 0px; */
    /* margin: 11px 15px 15px 15px; */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #732796 !important;
    border: solid 1px #732796 !important;
}

/* img {
    width: 100%;
    height: 100%;
} */

.texto--lugares {
    margin: 20px;
}

.espera{
    display: none;
}

@media (max-width: 768px) {
    .normal {
        display: none;
    }
    .espera{
        display: block;
    }
}