@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap'); /* JALDI 700 títulos y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* JALDI 400 párrafos */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* QUICKSAND 400 botones */

/* Estilos generales */

.btn-signup {
    width: 130px;
    height: 42px;
    background-color: #732796;
    border: none;
    color: white;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
}

.ingresa {
    color: #732796;
    font-weight: bold;
    cursor: pointer;
}

/* .fa-google {
    background: linear-gradient(to right, #DB4437, #4285F4, #F4B400, #0F9D58);
-webkit-background-clip: text;
color: transparent;
/* color: #1a1b1a; */
/*  font-size: 50px;
} */

.modal-content {
    text-align: center;
    font-family: sans-serif;
}

.mb-3 {
    text-align: left;
}

p{
    font-weight: bold;
    text-align: center;
}


.ingresa > a {
    color: #732796;
}
