/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");


/* FUENTES LETRA
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Jaldi', sans-serif;
}

main {
  /* height: 100vh; */
}

a:hover{
  /* background-color: #a47fb651; */
  color: #262626;
  text-shadow:rgba(115,39,150,1) 1px 1px;
}

/* inician estilos de la barra de navegacion */
header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ececec;
}
.logo {
  max-width: 200px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #732796;
  font-size: 22px;
  font-weight: bolder;

}

.especial2 {
  background-color: #732796;
  color: white;
  padding: 10px 40px;
  margin: 0px;
  border-radius: 10px;
  border: none;
  font-family:'Quicksand', sans-serif;
font-weight: bold;
}
.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .logo {
    max-width: 100px;
  }

  .especial2 {
    padding: 10px 25px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }
}

/*------------ Inician los media queries de la NavBar -----------*/

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #732796;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #b99ee8;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }

  .nav-list {
    flex-direction: column;
    align-items: left;
    z-index: 9999;
  }

  .nav-list li a {
    color: #ecececec;
  }
    .contactanos-formulario {
        width: 100%;
    }
}

.color-white {
  color: white;

}

/*------------------- inician estilos de jumbotrom ---------------*/
main {
  /* height: 100vh; */
}

.imagen1 p {
    color: white;
}

.informacion1 {
    background-color: #73279656;
    width: 50%;
    border-radius: 30px;
    padding: 20px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 
main img{
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/*---------------- Inician estilos nuestra mision -------------*/
.contenedor {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 350px;
}

.item1 {
    background-image: url(../assets/multimedia/fiesta1.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.item4 {
    background-image: url(../assets/multimedia/fiesta2.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.item5 {
    background-image: url(../assets/multimedia/fiesta3.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}


@media screen and (max-width: 550px) {
    .contenedor {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .item {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        text-align: center;
        height: 350px;
    }
    .contactanos-formulario {
        width: 100%;
    }
}

/*--------- inician estilos de seccion de equipo la pagina -------- */

.logo-equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #262626;
    padding: 20px;
}

h3 {
    margin-bottom: 10px;
}

.logo-equipo img {
    max-width: 100%;
    /* La imagen no excederá el ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de aspecto de la imagen */
}

/* terminan estilos de seccion de  equipo la pagina */
.cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Contenedor principal para card general */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 350px;
    word-wrap: break-word;
}
/* @media screen and (max-width: 320px){
    .informacion1 >img{
        display: none;
        font-size: 50px;
    } 
    .informacion1 img{
        display: none;
    }
} */
@media screen and (max-width:850px){
    .informacion1 >img{
        width: 300px ;
        height: 150px ;
    }

    .flip-card {
        width: 150px;
        height: 180px;
        font-size: 14px;
    }

    /* .flip-card > h3 {
     font-size: 50px;
    } */
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 2fr);
    }
    .card {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        text-align: center;
        height: 350px;
        
    }
    .nav-list li a {
      text-decoration: none;
      color: #732796;
      font-size: 18px;
      font-weight: bolder;

    }
}

@media only screen and (min-width: 320px) and (max-width: 550px){
    .cards {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .card {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        text-align: center;
        height: 350px;
    }
    .contactanos-formulario {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 550px){
    #especial {
        display: none;
    }
    .informacion1{
        width: 300px;
    }
    .imagen1{
        height: 400px !important;
    }
    main {
        /* height: 60vh; */
    }
    .contactanos-formulario {
        width: 100%;
    }
}

/*----------------- Inician estilos de CARDS  ------------------*/

/* El contenedor de tarjetas invertidas: establece el ancho y el alto como quieras. Hemos agregado la propiedad de borde para demostrar que el giro en sí sale del cuadro al pasar el mouse (elimine la perspectiva si no desea el efecto 3D). */
.flip-card {
    background-color: transparent;
    width: 100%;
    min-height: 400px;
    border: 1px solid #BFBFBF;
    perspective: 1000px;
    
    /* Elimina esto si no quieres el efecto 3D.*/
}

/* Este contenedor es necesario para colocar la parte delantera y trasera */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* Haga un giro horizontal cuando mueva el mouse sobre el contenedor del cuadro giratorio */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Coloque la parte delantera y trasera. */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    
}

/* Dale estilo al anverso (reserva si falta la imagen) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img{
    width:100%; 
    height:100%; 
    object-fit: cover;
    
} 

/* Dale estilo a la parte trasera */
.flip-card-back {
    background-color: #BFBFBF;
    color:#262626;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 12px ;
}

 .flip-card-back  /*h3*/ p{
    /* max-width: 100% */
    font-size: 1em;
} 


/* --------------- Inician estilos de footer ------------------*/

.pie-pagina {
  width: 100%;
  background-color: #732796;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #732796;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(219, 41, 255);
  text-decoration: line-through;
}

.pie-pagina .grupo-2 {
  background-color: #480966;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 550px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .informacion1 > img {
    width: 200px;
    height: 100px;
    display: inline-block;
  }
}

.box a {
  display: block;
  text-decoration: none;
  color: white;
}

.box img {
  background-color: #732796;
}

.fa {
  font-size: 40px;
}
